body{
    margin: 0px;
    padding: 0px;
    background-color: #1D9D73;
}
#navbar{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0px;

}
#navbar #mid ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style-type: none;
    margin-top: 40px;
    color: #b0ddce;
    padding-right: 40px;
}
#navbar #right ul{
    list-style-type: none;
    margin-top: 40px;
    color: #b0ddce;
}
#navbar #left{
    display: flex;
    color: #fff;
    align-items: center;
    padding: 0px;
    font-size: 20px;
    list-style-type: none;
    position: relative;
    left: 227px;
    top: 4px;

}